{% extends 'base.html' %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header">
            <h2 class="card-title">{{ deal.title }}</h2>
        </div>
        <div class="card-body">
            <a href="{{ url_for('establishment_details', establishment_name=deal.establishment.name)}}"> <h3 class="card-text">{{ deal.establishment.name }}</h3></a>
            <h4 class="card-text text-muted">{{ deal.establishment.address }}</h4>
            <h5 class="card-text text-muted"><c>{{ deal.deal_details.days_active | join(", ") }},</c> <c id="start-time">{{ deal.deal_details.start_time }} - </c><c id="end-time">{{ deal.deal_details.end_time }}</c></h5>
            <div class="map-container">
                <div class="shadow" style="border-radius: 10px;">
                    <div id="map"></div>
                </div>
            </div>
            <div class="tags">
                <c>
                    {% for tag in deal.tags %}
                        <span class="badge badge-secondary">{{ tag }}</span>
                    {% endfor %}
                </c>
            </div>
            <div class="mt-1">
                <h2><strong><u>Deal Details</u></strong></h2>
                {% for item in deal.deal_details.deal_items %}
                    <c>
                        <b>{{ item.item }}</b> -
                        {% if item.pricing.discount == 'N/A' %}
                             <b style="color: green"> {{item.pricing.price}}</b>
                        {% else %}
                            <b style="color: green"> {{item.pricing.discount}}</b>
                        {% endif %}
                        <br>
                    </c>
                {% endfor %}
            </div>
        </div>
        <div class="card-footer text-muted">
            Posted on {{ deal.created_at }}
        </div>
    </div>

    <script>
        var deals = {{ deals_json|safe }};
        var map = L.map('map', {
            center: [deals[0].establishment.latitude, deals[0].establishment.longitude],
            zoom: 18,
            maxZoom: 19, // Global maximum zoom level for the map
            minZoom: 10
        });
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors',
            maxZoom: 19,
            minZoom: 10
        }).addTo(map);


        // Add markers and popups with URLs
        deals.forEach(function(deal) {
            L.marker([deal.establishment.latitude, deal.establishment.longitude]).addTo(map)
                .bindPopup(`
                <c style="text-decoration: none;">
                    <b>${deal.establishment.shortname}</b> - <d style="font-size: smaller;">${deal.deal_details.deal_name}</d>
                    <br>
                    <div>
                        <d style="font-size: x-small;">${deal.deal_details.deal_description}</d>
                    </div>
                </c>
                `, {maxWidth: "200"});
        });
    </script>


    <script>
        function convertMilitaryToStandardTime(militaryTime) {
            if (militaryTime.toLowerCase() === "open" || militaryTime.toLowerCase() === "close") {
            return militaryTime;
            }
            console.log(militaryTime);
            // Extract hours and minutes
            var timeArray = militaryTime.split(":");
            var hours = parseInt(timeArray[0]);
            var minutes = parseInt(timeArray[1]); // Parse minutes as an integer

            console.log(hours);

            // Determine AM or PM
            var period = (hours < 12) ? "AM" : "PM";

            // Convert to 12-hour format
            hours = (hours > 12) ? hours - 12 : hours;
            hours = (hours == 0) ? 12 : hours;

            console.log(hours);

            // Format the time
            var standardTime = hours.toString() + ":" + minutes.toString().padStart(2, '0') + " " + period;
            console.log(standardTime);
            return standardTime;
        }

        document.addEventListener("DOMContentLoaded", function() {
            // Replace military time with standard time for Start Time
            var startTimeElement = document.querySelector("#start-time");
            startTimeElement.innerHTML = convertMilitaryToStandardTime("{{ deal.deal_details.start_time }}") + " - ";

            // Replace military time with standard time for End Time
            var endTimeElement = document.querySelector("#end-time");
            endTimeElement.innerHTML = convertMilitaryToStandardTime("{{ deal.deal_details.end_time }}");
        });
    </script>
{% endblock %}
