{% extends 'base.html' %}

{% block content %}
    <div class = "profile-header">
        <h2>User Profile</h2>
        <a href="{{ url_for('edit_profile') }}" class="btn btn-secondary">Edit Profile</a>
    </div>
    <div class="profile-info">
        {% if current_user.is_authenticated %}
            <!--<img src="{{ current_user.profile_picture_url }}" alt="Profile Picture" class="profile-image">-->
            <img src="{{url_for('static', filename='uploads/'+current_user.id+'.jpg') }}" alt="Profile Picture" class="profile-image">
            <div class="user-details">
                <p><strong>Username:</strong> {{ current_user.username }}</p>
                <p><strong>Email:</strong> {{ current_user.email }}</p>
                <h2><strong>Favorite Deals:</strong></h2>
                <div class = "row">
                    {% for deal in upvoted_deals %}
                    <div class="col-md-4 mb-3">
                        {% include 'deal_card.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}