{% extends 'base.html' %}

{% block content %}
    <h1>Submit a New Deal</h1>
    <form action="{{ url_for('submit_deal') }}" method="post" class="mt-4">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.establishment_name.label(class_='form-control-label') }}
            {{ form.establishment_name(class_='form-control', size=32) }}
        </div>
        <div class="form-group">
            {{ form.establishment_type.label(class_='form-control-label') }}
            {{ form.establishment_type(class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.deal_name.label(class_='form-control-label') }}
            {{ form.deal_name(class_='form-control', size=32) }}
        </div>
        <div class="form-group">
            {{ form.deal_description.label(class_='form-control-label') }}
            {{ form.deal_description(class_='form-control', rows=4) }}
        <div class="form-group form-check">
            {{ form.all_day(class_='form-check-input', id='all-day-checkbox') }}
            {{ form.all_day.label(class_='form-check-label') }}
        </div>
        <div class="form-group">
            {{ form.start_time.label(class_='form-control-label') }}
            {{ form.start_time(class_='form-control', id='start-time') }}
        </div>
        <div class="form-group">
            {{ form.end_time.label(class_='form-control-label') }}
            {{ form.end_time(class_='form-control', id='end-time') }}
        </div>
        <div class="form-group">
            {{ form.days_active.label(class_='form-control-label') }}
            <br>
            {% for subfield in form.days_active %}
                <div class="form-check form-check-inline">
                    {{ subfield(class_='form-check-input') }}
                    {{ subfield.label(class_='form-check-label') }}
                </div>
            {% endfor %}
        </div>
        <div class="form-group form-check">
            {{ form.repeat(class_='form-check-input') }}
            {{ form.repeat.label(class_='form-check-label') }}
        </div>
        <div class="form-group">
            {{ form.submit(class_='btn btn-success') }}
        </div>
    </form>

    <script src="{{ url_for('static', filename='js/submit_deal.js') }}"></script>

    {% if popup is not none %}
        <script>
            alert("{{ popup }}");
        </script>
    {% endif %}
{% endblock %}