<!-- templates/view_comments.html -->
{% extends 'base.html' %}
<head>
    <!-- Other head elements -->

    <!-- Include FontAwesome library -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <!-- Your other styles and scripts -->
    <!-- ... -->
</head>

{% block content %}
    {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <h2>{{ deal_name }}</h2>

    <!-- Display form for adding a comment (only for logged-in users) -->
    {% if current_user.is_authenticated %}
        <form action="{{ url_for('view_and_add_comments', deal_id=deal_id) }}" method="post">
            {{ comment_form.csrf_token }}
            <div class="mb-3">
                <label for="comment" class="form-label">Add a Comment:</label>
                {{ comment_form.comment(class="form-control", placeholder="Write your comment here") }}
            </div>
            <button type="submit" class="btn btn-primary">Submit Comment</button>
        </form>
    {% else %}
        <p><a href="{{ url_for('auth.login') }}">Log in</a> to leave a comment.</p>
    {% endif %}

    <!-- Display existing comments or "No comments yet" -->
    {% if comments %}
        <h3 class="mt-4">Comments:</h3>
        {% for comment in comments|reverse %}
            <div class="card mb-3">
                <div class="card-body">
                    {% if comment[0] is mapping %}
                        <!-- Voting Column -->
                        <div class="col-1 d-flex flex-column align-items-center justify-content-center" style="float:right;">
                            {% if current_user.is_authenticated %}
                                <button type="button" class="btn btn-link p-0 mb-0" onclick="upvote('{{ deal_id }}', '{{ comment[0]['comment_id'] }}')">
                                    <b>▲</b>
                                </button>
                                <span id="vote-count-{{ comment[0]['comment_id'] }}">{{ comment[0].get('upvotes', 0) - comment[0].get('downvotes', 0) }}</span>
                                <button type="button" class="btn btn-link p-0 mt-0" onclick="downvote('{{ deal_id }}', '{{ comment[0]['comment_id'] }}')">
                                    <b>▼</b>
                                </button>
                            {% else %}
                            <div class="text-center">
                                <a href="{{ url_for('auth.login') }}" class="btn btn-link p-0 mb-0">
                                    <b>🔒</b>
                                </a>
                                <br> <!-- New line for separation -->
                                <span id="vote-count-{{ comment[0]['comment_id'] }}">{{ comment[0].get('upvotes', 0) - comment[0].get('downvotes', 0) }}</span>
                                <br> <!-- New line for separation -->
                                <a href="{{ url_for('auth.login') }}" class="btn btn-link p-0 mt-0">
                                    <b>🔒</b>
                                </a>
                            </div>

                            {% endif %}
                        </div>
                        {% if comment[0].get('profile_picture') %}
                            <img src="{{ comment[0].get('profile_picture') }}" alt="User profile picture" class="profile-pic-small">
                        {% else %}
                            <img src="{{ url_for('static', filename='images/default_profile.png') }}" alt="Default profile picture" class="profile-pic-small">
                        {% endif %}
                        <p><strong>{{ comment[0].get('username', 'Unknown User') }}</strong> said:</p>
                        <p>{{ comment[0].get('text', '') }}</p>
                        <small class="text-muted">Posted on {{ comment[0].get('time', 'Unknown Time') }}</small>
                    {% else %}
                        <p>{{ comment }}</p>
                    {% endif %}

                    {% if comment[1]|length > 0 %}
                        {% for subcomment in comment[1] %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    {% if subcomment is mapping %}
                                        <!-- Voting Column -->
                                        <div class="col-1 d-flex flex-column align-items-center justify-content-center" style="float:right;">
                                            {% if current_user.is_authenticated %}
                                                <button type="button" class="btn btn-link p-0 mb-0" onclick="upvoteSubcomment('{{ deal_id }}', '{{ comment[0]['comment_id'] }}', '{{ subcomment['comment_id'] }}')">
                                                    <b>▲</b>
                                                </button>
                                                <span id="vote-count-{{ subcomment['comment_id'] }}">{{ subcomment.get('upvotes', 0) - subcomment.get('downvotes', 0) }}</span>
                                                <button type="button" class="btn btn-link p-0 mt-0" onclick="downvoteSubcomment('{{ deal_id }}', '{{ comment[0]['comment_id'] }}', '{{ subcomment['comment_id'] }}')">
                                                    <b>▼</b>
                                                </button>
                                            {% else %}
                                            <div class="text-center">
                                                <a href="{{ url_for('auth.login') }}" class="btn btn-link p-0 mb-0">
                                                    <b>🔒</b>
                                                </a>
                                                <br> <!-- New line for separation -->
                                                <span id="vote-count-{{ subcomment['comment_id'] }}">{{ subcomment.get('upvotes', 0) - subcomment.get('downvotes', 0) }}</span>
                                                <br> <!-- New line for separation -->
                                                <a href="{{ url_for('auth.login') }}" class="btn btn-link p-0 mt-0">
                                                    <b>🔒</b>
                                                </a>
                                            </div>

                                            {% endif %}
                                        </div>
                                        {% if comment[0].get('profile_picture') %}
                                            <img src="{{ comment[0].get('profile_picture') }}" alt="User profile picture" class="profile-pic-small">
                                        {% else %}
                                            <img src="{{ url_for('static', filename='images/default_profile.png') }}" alt="Default profile picture" class="profile-pic-small">
                                        {% endif %}
                                        <p><strong>{{ subcomment.get('username', 'Unknown User') }}</strong> said:</p>
                                        <p>{{ subcomment.get('text', '') }}</p>
                                        <small class="text-muted">Posted on {{ subcomment.get('time', 'Unknown Time') }}</small>
                                    {% else %}
                                        <p>{{ subcomment }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if current_user.is_authenticated %}
                        <form action="{{ url_for('add_subcomments', deal_id=deal_id, parent_id=comment[0]['comment_id']) }}" method="post">
                            {{ comment_form.csrf_token }}
                            <div class="mb-3">
                                <label for="comment" class="form-label">Add a Comment:</label>
                                {{ comment_form.comment(class="form-control", placeholder="Write your comment here") }}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit Comment</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="mt-4">No comments yet.</p>
    {% endif %}
    <script src="{{ url_for('static', filename='js/view_comments.js') }}"></script>
{% endblock %}
